@charset "UTF-8";
/*
em HTML é id= em css é #
em HTML é class= em css é.
*/

body {
    background-color: rgb(182, 238, 104);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(0, 58, 0);
}

h1#principal {
    text-align: center;
    background-color: aqua;
}

h2 {
    color:green
}

.basico{
    color: rgb(243, 10, 10);

}

.intermediario{
color: blue;

}

.avançado{
    color: blueviolet;

}
.destaque {
    background-color: brown;
}