@charset "UTF-8;"

* {
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-image: linear-gradient(to right, #0DAAED,#054661);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
 color: #66a4be;
 text-align: center;
 text-shadow: 1px 1px 2px black;
}
h2 {
color: #054661;
}
 p {
    text-align: justify;
 }